body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  padding: 30px;
  text-align: center;
}

header, main {
  padding: 40px;
  border-radius: 5px;
}

header {
  margin-bottom: 40px;
}

main {
  height: 300px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 18px;
}


