* {
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calculator, button, input {
  border-radius: 5px;
  border: 1px solid grey;
}

.calculator {
  width: 400px;  
}

.input-wrapper {
  padding: 5px 10px;
}

input {
  width: 100%;
  padding: 7px;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

button {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  height: 40px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}

.num-wrapper {
  width: 150px;
}

 .btn-wrapper {
  width: 200px;
}

.btn-square { 
  width: 40px;
  margin: 5px;
}

.btn-rect {
  width: 100%;
  padding: 10px;
  line-height: 18px;
}


