
.tooltip {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  font-weight: 600;
  position: absolute;
  border-radius: 4px;
}

p {
  margin: 5px 10px;
  line-height: 1.2;
  text-align: justify;
}

.add-tooltip {
  padding: 3px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}